.margin-all{
    margin:2%;
}

.add-more-card{
    width: 100%;
    max-width: 298px;
    min-height: 100%;
}

.plus-image{
    height: 136px;
}

.mt-5{
    margin-top:5%;
}

.total-spending{
    font-weight: bolder;
    font-size: xx-large;
    color: #007430;
}
