.ott-image{
    height: 50px;
}

.danger-ott{
    color: #EE6666;
    font-size: medium;
    font-weight: bolder;
}

.warning-ott{
    color: #FAC858;
    font-size: medium;
    font-weight: bolder;
}

.good-ott{
    color: #91CC75;
    font-size: medium;
    font-weight: bolder;
}

.amount-ott-text{
    font-size: x-large;
    font-weight: bolder;
}

.plan-type{
    font-size: large;
    font-weight: bolder;
}