<nz-card class="ott-card" [nzTitle]="titleTemplate" nzHoverable="true">
  <div nz-row nzJustify="center">
    <div nz-col class="text-center" nzXs="24" nzSm="24" nzMd="8">
      <span class="ott-tb-text">{{ listOfData[0].plan }}</span>
    </div>
    <div nz-col class="text-center" nzXs="24" nzSm="24" nzMd="8">
      <span class="ott-tb-text">₹{{ listOfData[0].amount }}</span>
    </div>
    <div nz-col class="text-center" nzXs="24" nzSm="24" nzMd="8">
      <span class="ott-tb-text text-red">{{ listOfData[0].due }}</span>
    </div>
  </div>

  <ng-template #titleTemplate>
    <div class="text-center">
      <img class="ott-image" [src]="data.image" />
    </div>
  </ng-template>
</nz-card>

<nz-card class="ott-card mt-2" [nzTitle]="title4Template" nzHoverable="true">
  <div nz-row>
    <div nz-col nzXs="24" nzSm="24" nzMd="12">
      <div echarts [options]="gauge_chart" class="gauge-chart"></div>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12">
      <div echarts [options]="getOverAllConsupmtion" class="gauge-chart"></div>
    </div>
  </div>
  <ng-template #title4Template>
    <h2><strong>Statistics</strong></h2>
  </ng-template>
</nz-card> 

<nz-card class="ott-card mt-2" [nzTitle]="title3Template" nzHoverable="true">
  <div
    echarts
    [options]="getOverallTrafficTrendOptions"
    class="graph-chart"
  ></div>
  <ng-template #title3Template>
    <h2><strong>Daily Usage</strong></h2>
  </ng-template>
</nz-card>

<nz-card
  class="ott-card ott-card-recently-watched"
  [nzTitle]="title2Template"
  nzHoverable="true"
>
  <div nz-row>
    <ng-container *ngFor="let item of moviesData">
      <div nz-col class="margin-all">
        <a
          href="https://www.imdb.com/title/{{ item.imdbID }}/?ref_=adv_li_tt"
          target="_blank"
        >
          <nz-card>
            <img class="poster-movie" src="{{ item.Poster }}" />
          </nz-card>
        </a>
      </div>
    </ng-container>
  </div>

  <ng-template #title2Template>
    <h2><strong>Recently Watched</strong></h2>
  </ng-template>
</nz-card>
