<nz-card class="ott-card" [nzTitle]="titleTemplate" nzHoverable="true">
  <div nz-row>
    <div nz-col nzFlex="100%">
      <nz-table
        #basicTable
        [nzData]="listOfData"
        [nzShowPagination]="false"
        nzTableLayout="fixed"
      >
        <tbody>
          <tr *ngFor="let data of data.data">
            <td>
              <span class="ott-tb-text">{{ data.plan }}</span>
            </td>
            <td>
              Amount - <span class="ott-tb-text">₹{{ data.amount }}</span>
            </td>
            <td>
              Due - <span class="ott-tb-text text-red">{{ data.due }}</span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

  <ng-template #titleTemplate>
    <img class="ott-image" [src]="data.image" />
  </ng-template>
</nz-card>

<nz-card class="ott-card mt-2" [nzTitle]="title4Template" nzHoverable="true">
  <div nz-row>
    <div nz-col nzSpan="12">
      <div echarts [options]="gauge_chart" class="gauge-chart"></div>
    </div>
    <div nz-col nzSpan="12">
      <div echarts [options]="getOverAllConsupmtion" class="gauge-chart"></div>
    </div>
  </div>
  <ng-template #title4Template>
    <h2><strong>Stats</strong></h2>
  </ng-template>
</nz-card>

<nz-card class="ott-card mt-2" [nzTitle]="title3Template" nzHoverable="true">
  <div
    echarts
    [options]="getOverallTrafficTrendOptions"
    class="graph-chart"
  ></div>
  <ng-template #title3Template>
    <h2><strong>Daily Usage</strong></h2>
  </ng-template>
</nz-card>

<nz-card
  class="ott-card ott-card-recently-watched"
  [nzTitle]="title2Template"
  nzHoverable="true"
>
  <div nz-col>
    <div nz-row>
      <ng-container *ngFor="let item of moviesData">
        <div nz-col class="margin-all">
          <a
            href="https://www.imdb.com/title/{{ item.imdbID }}/?ref_=adv_li_tt"
            target="_blank"
          >
            <nz-card>
              <img class="poster-movie" src="{{ item.Poster }}" />
            </nz-card>
          </a>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-template #title2Template>
    <h2><strong>Recently Watched</strong></h2>
  </ng-template>
</nz-card>
