<div nz-row [nzGutter]="[0, 25]">
  <div nz-col nzFlex="100%">
   <span class="top-title">Curated For You</span>
    <hr>
  </div>
</div>
<div nz-row [nzGutter]="[0, 25]">
  <div nz-col nzFlex="97%">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="Search Movies/TV-Show" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch>
        <i nz-icon nzType="search"></i>
      </button>
    </ng-template>
  </div>
</div>

<div nz-row [nzGutter]="[0,25]" *ngFor="let platform of ottPlatforms">
  <div nz-col nzFlex="100%">
   <app-ott-movies-curated [data]=platform></app-ott-movies-curated>
  </div>
</div>
