<div nz-row [nzGutter]="[0, 25]">
  <div nz-col nzFlex="100%">
   <span class="top-title">Dashboard</span>
    <hr>
  </div>
</div>
<div nz-row [nzGutter]="[0, 25]">
  <div nz-col nzFlex="97%">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="Search Movies/TV-Show" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch>
        <i nz-icon nzType="search"></i>
      </button>
    </ng-template>
  </div>
</div>

<ng-container *ngIf="ottPlatforms.length > 0">
<div nz-row [nzGutter]="[25, 25]">
  <div nz-col nzXs="24" nzSm="24" nzMd="17">
    <div nz-row>
      <ng-container *ngFor="let platform of ottPlatforms">
        <div nz-col class="margin-all">
          <app-ott-cards [data]="platform"></app-ott-cards>
        </div>
      </ng-container>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="7">
    <nz-card class="text-center">
      <span><span class="total-spending">₹1649</span><br><strong>Total Monthly Spending</strong></span>
    </nz-card>
    <nz-card>
      <div echarts [options]="getOverAllConsupmtion" class="pie-chart"></div>
    </nz-card>
  </div>
</div>
</ng-container>

<ng-container *ngIf="ottPlatforms.length == 0">
  <div nz-row [nzGutter]="[25, 25]">
    <div class="text-center" nz-col nzFlex="100%">
      <br><br>
     <h1><strong>Please Add Subscription Details</strong></h1>
    </div>
  </div>
  </ng-container>
