.ott-card {
  padding: 5px;
  width: 1200px;
}

.ott-image {
  width: 190px;
}

.ott-card-chart {
  max-height: 200px;
}

.ott-tb-text {
  font-weight: bolder;
  font-size: x-large;
}

.pie-chart {
  height: 250px;
}

.text-red {
  color: red;
}
